.theme-l5 {color:#000 !important; background-color:#fefef8 !important}
.theme-l4 {color:#000 !important; background-color:#fcfae8 !important}
.theme-l3 {color:#000 !important; background-color:#f9f5d2 !important}
.theme-l2 {color:#000 !important; background-color:#f6f0bb !important}
.theme-l1 {color:#000 !important; background-color:#f3eba5 !important}
.theme-d1 {color:#000 !important; background-color:#ecdf6c !important}
.theme-d2 {color:#000 !important; background-color:#e8d84a !important}
.theme-d3 {color:#000 !important; background-color:#e3d029 !important}
.theme-d4 {color:#000 !important; background-color:#cbb91a !important}
.theme-d5 {color:#fff !important; background-color:#a99b16 !important}

.theme-light {color:#000 !important; background-color:#fefef8 !important}
.theme-dark {color:#fff !important; background-color:#a99b16 !important}
.theme-action {color:#fff !important; background-color:#a99b16 !important}

.theme {color:#000 !important; background-color:#f0e68c !important}
.text-theme {color:#f0e68c !important}
.border-theme {border-color:#f0e68c !important}

.hover-theme:hover {color:#000 !important; background-color:#f0e68c !important}
.hover-text-theme:hover {color:#f0e68c !important}
.hover-border-theme:hover {border-color:#f0e68c !important}